.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}

.result-container {
  max-width: 500px;
  margin: 20px auto;
}

.result-item {
  margin-bottom: 10px;
}

.body {
  background-color: darkolivegreen !important;
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
